<app-header></app-header>
<div class="container">
  <button (click)="increase()">Increase</button>
  <button (click)="decrease()" [disabled]="disapleDecrease$ | async">Decrease</button>
  <button (click)="clear()"  [disabled]="disapleDecrease$ | async">Clear</button>
  <div>
    <span>Counter id :{{ count$ |async }}; Update at: {{ updateAt$|async |date: "yyyy-MM-dd-hh:mm:ss"}}</span>
  </div>
  <app-todo-form
  (onTodo)="addTodo($event)"
  ></app-todo-form>
  <span *ngFor="let todo of todoList$ | async; let i = index ">

    <app-todo *ngIf="!editIds.includes(todo.id); else edit"
    [todo]="todo"
    (onEditMode)="onEditMode(todo.id)"
    (onDeleteTodo)="onDelete(todo)"
    (onCompleted)="onCompleted(todo)"
    ></app-todo>

    <ng-template #edit >
      <app-todo-edit
      [todo]="todo"
      (onEdit)="onEdit($event)"
      ></app-todo-edit>
    </ng-template>
  </span>
</div>
