<app-header></app-header>
<div class="container">
  <button (click)="increase()">Increase</button>
  <button (click)="decrease()" [disabled]="disapleDecrease$ | async">Decrease</button>
  <button (click)="clear()"  [disabled]="disapleDecrease$ | async">Clear</button>
  <div>
    <span>Counter id :{{ count$ |async }}; Update at: {{ updateAt$|async |date: "yyyy-MM-dd-hh:mm:ss"}}</span>
  </div>
  <app-todo-form
  (onTodo)="addTodo($event)"
  ></app-todo-form>
  <app-todo
  *ngFor="let todo of todos"
  [todo]="todo"
  (onDeleteTodo)="onDelete($event)"
  ></app-todo>
</div>
